<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-15.-15thread] %highlight(%-5.-5level) %cyan(%45.45logger{45}):\t%msg %n</pattern>
        </encoder>
    </appender>

    <logger name="org.framefork" level="debug"/>
    <logger name="org.testcontainers" level="warn"/>
    <logger name="tc" level="info"/>
    <logger name="com.github.dockerjava" level="warn"/>
    <logger name="org.jboss" level="warn"/>
    <logger name="org.hibernate" level="warn"/>
    <logger name="org.hibernate.SQL" level="debug"/>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
